<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each article}}
            <figure class="figure">
                <img src="" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption text-xs-right">{{this.title}}</figcaption>
            </figure>
        </div>
    </div>
</div>